<li>
	<h3>Schrijven</h3>
	<picture>
		<source srcset="/img/tour/des-2-xl.webp" type="image/webp" media="(min-width: 1280px)">
		<source srcset="/img/tour/des-2-xl.png" type="image/png" media="(min-width: 1280px)">

		<source srcset="/img/tour/des-2-lg.webp" type="image/webp" media="(min-width: 1200px)">
		<source srcset="/img/tour/des-2-lg.png" type="image/png" media="(min-width: 1200px)">

		<source srcset="/img/tour/des-2-md.webp" type="image/webp" media="(min-width: 992px)">
		<source srcset="/img/tour/des-2-md.png" type="image/png" media="(min-width: 992px)">

		<source srcset="/img/tour/des-2-sm.webp" type="image/webp" media="(min-width: 720px)">
		<source srcset="/img/tour/des-2-sm.png" type="image/png" media="(min-width: 720px)">

		<source srcset="/img/tour/des-2-xs.webp" type="image/webp" media="(min-width: 540px)">
		<source srcset="/img/tour/des-2-xs.png" type="image/png" media="(min-width: 540px)">

		<source srcset="/img/tour/des-2-xxs.webp" type="image/webp">
		<source srcset="/img/tour/des-2-xxs.png" type="image/png">

		<img src="/img/tour/des-2-md.png" alt="Schrijf scherm">
	</picture>
	<p>Voer in het bovenste invoerveld je titel in. In het onderste, grote, invoerveld, kun je de inhoud van je artikel schrijven</p>
</li>