<li>
	<h3>Reviews</h3>
	<picture>
		<source srcset="/img/tour/des-4-xl.webp" type="image/webp" media="(min-width: 1280px)">
		<source srcset="/img/tour/des-4-xl.png" type="image/png" media="(min-width: 1280px)">

		<source srcset="/img/tour/des-4-lg.webp" type="image/webp" media="(min-width: 1200px)">
		<source srcset="/img/tour/des-4-lg.png" type="image/png" media="(min-width: 1200px)">

		<source srcset="/img/tour/des-4-md.webp" type="image/webp" media="(min-width: 992px)">
		<source srcset="/img/tour/des-4-md.png" type="image/png" media="(min-width: 992px)">

		<source srcset="/img/tour/tab-4.webp" type="image/webp" media="(min-width: 740px)">
		<source srcset="/img/tour/tab-4.png" type="image/png" media="(min-width: 740px)">

		<source srcset="/img/tour/tab-4-sm.webp" type="image/webp" media="(min-width: 640px)">
		<source srcset="/img/tour/tab-4-sm.png" type="image/png" media="(min-width: 640px)">

		<source srcset="/img/tour/mob-4.webp" type="image/webp" media="(min-width: 440px)">
		<source srcset="/img/tour/mob-4.png" type="image/png" media="(min-width: 440px)">

		<source srcset="/img/tour/mob-4-sm.webp" type="image/webp">
		<source srcset="/img/tour/mob-4-sm.png" type="image/png">

		<img src="/img/tour/des-4-md.png" alt="Klik op een bolletje">
	</picture>
	<p>Nadat je je artikel hebt gepubliceerd, kunnen andere schrijvers reviews schrijven op jouw artikel. Zo kunnen schrijvers van elkaar leren. Achter elke alinea staat aangegeven hoeveel reviews er op zijn geschreven. Door op het bolletje te klikken, verschijnen de reviews.</p>
</li>