<li>
	<h3>Tekst formaten</h3>
	<picture>
		<source srcset="/img/tour/des-3-xl.webp" type="image/webp" media="(min-width: 1280px)">
		<source srcset="/img/tour/des-3-xl.png" type="image/png" media="(min-width: 1280px)">

		<source srcset="/img/tour/des-3-lg.webp" type="image/webp" media="(min-width: 1200px)">
		<source srcset="/img/tour/des-3-lg.png" type="image/png" media="(min-width: 1200px)">

		<source srcset="/img/tour/des-3-md.webp" type="image/webp" media="(min-width: 992px)">
		<source srcset="/img/tour/des-3-md.png" type="image/png" media="(min-width: 992px)">

		<source srcset="/img/tour/des-3-sm.webp" type="image/webp" media="(min-width: 720px)">
		<source srcset="/img/tour/des-3-sm.png" type="image/png" media="(min-width: 720px)">

		<source srcset="/img/tour/des-3-xs.webp" type="image/webp" media="(min-width: 540px)">
		<source srcset="/img/tour/des-3-xs.png" type="image/png" media="(min-width: 540px)">

		<source srcset="/img/tour/des-3-xxs.webp" type="image/webp">
		<source srcset="/img/tour/des-3-xxs.png" type="image/png">

		<img src="/img/tour/des-3-md.png" alt="Selecteer tekst en klik op een knop">
	</picture>
	<p>Selecteer tekst en druk daarna in de menubalk op een knop om van tekstformaat te wisselen.</p>
</li>