.review {
	max-width: 40em;

	form {
		margin: 0;
		padding: 0;
	}

	&:target {
		background: $color-highlight-info-lightest;
	}

	&[data-accepted] {
		background: $color-highlight-success-lightest;
	}
}