.review-form {
	padding: 1rem;
	background: $color-lightest;
	margin: 0 auto;
	max-width: 38em;

	header {
		display: flex;
		justify-content: space-between;
	}

	blockquote,
	label {
		font-size: $font-size-sm;
	}

	&[data-position] {
		margin: 0;
		width: 92%;
		width: calc(100% - 2em);
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		box-shadow: 0 0 1rem 0 rgba(0,0,0,.4);

		@media screen and (min-width: $break-lg-min) {
			left: calc(40rem + 1rem + ((100vw - 40rem) / 5));
			transform: none;
		}
	}

	h2 {
		color: $color-primary;
	}
}