.review {
	padding: 1rem 0;
	max-width: 40em;

	border-bottom: 1px solid $color-gray-clouds;

	button {
		float: right;
	}

	form {
		margin: 0;
		padding: 0;

		display: inline-block;
	}

	&:target,
	&[data-accepted] {
		margin-left: -1rem;
		margin-right: -1rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	&:target {
		background: $color-highlight-info-lightest;
	}

	&[data-accepted] {
		background: $color-highlight-success-lightest;
	}

	&[data-position] {
		padding: 1rem;
		margin: 0;
		width: 92%;
		width: calc(100% - 2em);

		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		box-shadow: 0 0 1rem 0 rgba(0,0,0,.4);
		background: $color-lightest;
		font-size: $font-size-sm;
		border: none;

		&:target {
			background: $color-highlight-info-lightest;

			form {
				background: $color-highlight-info-lightest;
			}
		}

		// display: none;

		// &:first-of-type {
		// 	display: block;
		// }
		//
		// &.hidden + [data-position] {
		// 	display: block;
		// }

		@media screen and (min-width: $break-lg-min) {
			left: calc(40rem + 1rem + ((100vw - 40rem) / 5));
			transform: none;
		}
	}
}