.review {
	padding: 1rem 0;
	max-width: 40em;

	border-bottom: 1px solid $color-gray-clouds;

	h3 {
		display: inline-block;
		margin-right: 1rem;
		margin-bottom: 1rem;
	}

	button {
		float: right;
		display: none;
	}

	&[data-edit] {
		display: flex;

		button {
			margin-left: 1rem;
			order: 1;
		}
	}

	form {
		margin: 0;
		padding: 0;
	}

	> form {
		width: 90%;
	}

	footer form {
		display: inline-block;
	}

	&:target,
	&[data-accepted] {
		margin-left: -1rem;
		margin-right: -1rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	&:target {
		display: block;
		background: $color-highlight-info-lightest;
	}

	&[data-accepted] {
		background: $color-highlight-success-lightest;
	}

	&[data-position] {
		padding: 1rem;
		margin: 0;
		width: 92%;
		width: calc(100% - 2em);

		position: absolute;
		left: 50%;
		transform: translateX(-50%);

		box-shadow: 0 0 1rem 0 rgba(0,0,0,.4);
		background: $color-lightest;
		font-size: $font-size-sm;
		border: none;
		z-index: 1;

		@media screen and (min-width: $break-lg-min) {
			left: calc(40rem + 1rem + ((100vw - 40rem) / 5));
			transform: none;
		}

		button {
			display: inline-block;
		}
	}

	&[data-unfinished] {
		color: $color-gray-midnight;
		border: 1px solid $color-gray-clouds;
		animation: blink-border 1s infinite;
	}
}