textarea {
	padding: .5rem;
	margin-top: .5rem;
	display: block;
	width: 100%;
	height: 8rem;
	border: 1px solid $color-gray-clouds;

	background: $color-lightest;;
	font: inherit;

	&:focus {
		border-color: $color-primary;
		outline: none;
	}

	&[hidden] {
		display: none;
	}

	&[data-stretch] {
		resize: none;
		min-height: 2rem;
		max-height: 100px;
	}
}

body:not(.no-js) [data-stretch] {
	overflow: hidden;
	height: 2rem;
}
