<li>
	<h3>Review mode</h3>
	<picture>
		<source srcset="/img/tour/review/des-1-xl.webp" type="image/webp" media="(min-width: 1600px)">
		<source srcset="/img/tour/review/des-1-xl.png" type="image/png" media="(min-width: 1600px)">

		<source srcset="/img/tour/review/des-1-lg.webp" type="image/webp" media="(min-width: 1280px)">
		<source srcset="/img/tour/review/des-1-lg.png" type="image/png" media="(min-width: 1280px)">

		<source srcset="/img/tour/review/des-1-md.webp" type="image/webp" media="(min-width: 992px)">
		<source srcset="/img/tour/review/des-1-md.png" type="image/png" media="(min-width: 992px)">

		<source srcset="/img/tour/review/tab-1.webp" type="image/webp" media="(min-width: 740px)">
		<source srcset="/img/tour/review/tab-1.png" type="image/png" media="(min-width: 740px)">

		<source srcset="/img/tour/review/tab-1-sm.webp" type="image/webp" media="(min-width: 640px)">
		<source srcset="/img/tour/review/tab-1-sm.png" type="image/png" media="(min-width: 640px)">

		<source srcset="/img/tour/review/mob-1.webp" type="image/webp" media="(min-width: 440px)">
		<source srcset="/img/tour/review/mob-1.png" type="image/png" media="(min-width: 440px)">

		<source srcset="/img/tour/review/mob-1-sm.webp" type="image/webp">
		<source srcset="/img/tour/review/mob-1-sm.png" type="image/png">

		<img src="/img/tour/review/des-1-md.png" alt="Onder elk artikel kun je naar reviewen navigeren.">
	</picture>
	<p>Op De Persgroep's nieuws creatie platform, kunnen schrijvers van elkaar leren. Als je tips hebt voor een schrijver om zijn artikel(en) beter te maken, kun je een review schrijven op zijn/haar artikel. Indien je bent ingelogd als schrijver, kun je je onderaan elk artikel naar reviewen navigeren.</p>
</li>