<li>
	<h3>Aantal reviews</h3>
	<picture>
		<source srcset="/img/tour/review/des-2-xl.webp" type="image/webp" media="(min-width: 1600px)">
		<source srcset="/img/tour/review/des-2-xl.png" type="image/png" media="(min-width: 1600px)">

		<source srcset="/img/tour/review/des-2-lg.webp" type="image/webp" media="(min-width: 1280px)">
		<source srcset="/img/tour/review/des-2-lg.png" type="image/png" media="(min-width: 1280px)">

		<source srcset="/img/tour/review/des-2-md.webp" type="image/webp" media="(min-width: 992px)">
		<source srcset="/img/tour/review/des-2-md.png" type="image/png" media="(min-width: 992px)">

		<source srcset="/img/tour/review/tab-2.webp" type="image/webp" media="(min-width: 740px)">
		<source srcset="/img/tour/review/tab-2.png" type="image/png" media="(min-width: 740px)">

		<source srcset="/img/tour/review/tab-2-sm.webp" type="image/webp" media="(min-width: 640px)">
		<source srcset="/img/tour/review/tab-2-sm.png" type="image/png" media="(min-width: 640px)">

		<source srcset="/img/tour/review/mob-2.webp" type="image/webp" media="(min-width: 440px)">
		<source srcset="/img/tour/review/mob-2.png" type="image/png" media="(min-width: 440px)">

		<source srcset="/img/tour/review/mob-2-sm.webp" type="image/webp">
		<source srcset="/img/tour/review/mob-2-sm.png" type="image/png">

		<img src="/img/tour/review/des-2-md.png" alt="Achter elke paragraaf staat hoeveel bestaande reviews er op zijn.">
	</picture>
	<p>Nadat je je naar reviewen hebt genavigeerd, zie je achter elke paragraaf staan hoeveel reviews er op zijn. Door hierop te klikken, krijg je de reviews te zien.</p>
</li>