<li>
	<h3>Bestaande reviews</h3>
	<picture>
		<source srcset="/img/tour/review/des-3-xl.webp" type="image/webp" media="(min-width: 1600px)">
		<source srcset="/img/tour/review/des-3-xl.png" type="image/png" media="(min-width: 1600px)">

		<source srcset="/img/tour/review/des-3-lg.webp" type="image/webp" media="(min-width: 1280px)">
		<source srcset="/img/tour/review/des-3-lg.png" type="image/png" media="(min-width: 1280px)">

		<source srcset="/img/tour/review/des-3-md.webp" type="image/webp" media="(min-width: 992px)">
		<source srcset="/img/tour/review/des-3-md.png" type="image/png" media="(min-width: 992px)">

		<source srcset="/img/tour/review/tab-3.webp" type="image/webp" media="(min-width: 740px)">
		<source srcset="/img/tour/review/tab-3.png" type="image/png" media="(min-width: 740px)">

		<source srcset="/img/tour/review/tab-3-sm.webp" type="image/webp" media="(min-width: 640px)">
		<source srcset="/img/tour/review/tab-3-sm.png" type="image/png" media="(min-width: 640px)">

		<source srcset="/img/tour/review/mob-3.webp" type="image/webp" media="(min-width: 440px)">
		<source srcset="/img/tour/review/mob-3.png" type="image/png" media="(min-width: 440px)">

		<source srcset="/img/tour/review/mob-3-sm.webp" type="image/webp">
		<source srcset="/img/tour/review/mob-3-sm.png" type="image/png">

		<img src="/img/tour/review/des-3-md.png" alt="Druk op de knop met het aantal reviews.">
	</picture>
	<p> Bekijk de bestaande reviews altijd, voordat je zelf een nieuwe review gaat schrijven. Zo voorkom je dat de schrijver van het artikel dezelfde reviews krijgt.</p>
</li>