<li>
	<h3>Review schrijven - stap a</h3>
	<picture>
		<source srcset="/img/tour/review/des-4-xl.webp" type="image/webp" media="(min-width: 1600px)">
		<source srcset="/img/tour/review/des-4-xl.png" type="image/png" media="(min-width: 1600px)">

		<source srcset="/img/tour/review/des-4-lg.webp" type="image/webp" media="(min-width: 1280px)">
		<source srcset="/img/tour/review/des-4-lg.png" type="image/png" media="(min-width: 1280px)">

		<source srcset="/img/tour/review/des-4-md.webp" type="image/webp" media="(min-width: 992px)">
		<source srcset="/img/tour/review/des-4-md.png" type="image/png" media="(min-width: 992px)">

		<source srcset="/img/tour/review/tab-4.webp" type="image/webp" media="(min-width: 740px)">
		<source srcset="/img/tour/review/tab-4.png" type="image/png" media="(min-width: 740px)">

		<source srcset="/img/tour/review/tab-4-sm.webp" type="image/webp" media="(min-width: 640px)">
		<source srcset="/img/tour/review/tab-4-sm.png" type="image/png" media="(min-width: 640px)">

		<source srcset="/img/tour/review/mob-4.webp" type="image/webp" media="(min-width: 440px)">
		<source srcset="/img/tour/review/mob-4.png" type="image/png" media="(min-width: 440px)">

		<source srcset="/img/tour/review/mob-4-sm.webp" type="image/webp">
		<source srcset="/img/tour/review/mob-4-sm.png" type="image/png">

		<img src="/img/tour/review/des-4-md.png" alt="Druk op de review knop om een review te schrijven">
	</picture>
	<p>Mocht er nog geen review bestaan met de feedback die jij hebt, kun je zelf een review schrijven. Klik op de review knop.</p>
</li>
</li>