<li>
	<h3>Review schrijven - stap b</h3>
	<picture>
		<source srcset="/img/tour/review/des-5-xl.webp" type="image/webp" media="(min-width: 1600px)">
		<source srcset="/img/tour/review/des-5-xl.png" type="image/png" media="(min-width: 1600px)">

		<source srcset="/img/tour/review/des-5-lg.webp" type="image/webp" media="(min-width: 1280px)">
		<source srcset="/img/tour/review/des-5-lg.png" type="image/png" media="(min-width: 1280px)">

		<source srcset="/img/tour/review/des-5-md.webp" type="image/webp" media="(min-width: 992px)">
		<source srcset="/img/tour/review/des-5-md.png" type="image/png" media="(min-width: 992px)">

		<source srcset="/img/tour/review/tab-5.webp" type="image/webp" media="(min-width: 740px)">
		<source srcset="/img/tour/review/tab-5.png" type="image/png" media="(min-width: 740px)">

		<source srcset="/img/tour/review/tab-5-sm.webp" type="image/webp" media="(min-width: 640px)">
		<source srcset="/img/tour/review/tab-5-sm.png" type="image/png" media="(min-width: 640px)">

		<source srcset="/img/tour/review/mob-5.webp" type="image/webp" media="(min-width: 440px)">
		<source srcset="/img/tour/review/mob-5.png" type="image/png" media="(min-width: 440px)">

		<source srcset="/img/tour/review/mob-5-sm.webp" type="image/webp">
		<source srcset="/img/tour/review/mob-5-sm.png" type="image/png">

		<img src="/img/tour/review/des-5-md.png" alt="Er springt een review formulier open.">
	</picture>
	<p>In het zojuist geopende review formulier, kun je jouw review schrijven. Schrijf in het bovenste invoerveld jouw tips. Houd het netjes, en lever inhoudelijke feedback. Persoonlijke aanvallen, en ongegrond commentaar wordt niet getollereerd in de reviews.</p>
	<p>Selecteer in het onderste invoerveld het type review dat het best aansluit bij jouw tip. Selecteer 'overig' indien er geen passende optie is.</p>
</li>