.article {
	padding: 1em;
	max-width: 40em;
	background: $color-lightest;
	margin: 0 auto;

	h1 {
		color: $color-primary;
	}

	&[data-review="true"] {
		> * {
			cursor: context-menu;

			&:after {
				content: 'edit';
			}
		}
	}
}