.article {
	padding: 1em;
	margin: 0 auto;
	margin-bottom: 1rem;
	max-width: 40em;
	background: $color-lightest;

	h1 {
		color: $color-primary;
	}
}

body:not(.no-js) .article[data-review=true],
body:not(.no-js) .article[data-align-reviews=true] {
	padding-left: 0;
	padding-right: 0;

	> *:not(header) {
		padding: 0 1rem;
	}

	header > * {
		padding: 0 1rem;
	}

	[data-child] {
		position: relative;

		&.highlight {
			background: $color-highlight-info-lightest;
		}

		@media screen and (min-width: $break-lg-min) {
			&:hover button {
				display: block;
			}
		}
	}

	[data-child] button {
		padding: .5rem;
		width: 2.25rem;
		height: 2.25rem;

		position: relative;

		background: $color-lightest;
		border: 1px solid $color-gray-clouds;
		border-radius: 50%;
		cursor: pointer;

		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		@media screen and (min-width: $break-lg-min) {
			display: none;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translate(50%, -50%);
		}

	}
}