.hero {
	background: $color-gray-clouds;
	max-width: 100%;

	h1 {
		margin: 1rem 0;
		color: $color-primary;
		font-size: 8vh;
	}

	h2 {
		font-size: $font-size-md;
		font-weight: $font-weight-regular;
		font-style: italic;
	}

	.container {
		margin: 0 auto;
		margin-bottom: 1em;

		display: block;
		max-width: 40rem;

		@media screen and (min-width: $break-sm-min) {
			padding: 0 1rem;
		}
	}

	img {
		background: $color-lightest;
		width: 100%;
	}

	a:not(:last-child) {
		margin-bottom: 1rem;
	}
}