.navigation {
	padding: 0 1rem;
	height: $nav-height;
	background: $color-lightest;
	border-bottom: 1px solid $color-gray-clouds;

	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	display: flex;
	justify-content: space-between;

	ul,
	li,
	img,
	svg {
		height: 100%;
	}

	ul {
		display: flex;
		justify-content: end;

		list-style-type: none;
	}

	li {
		padding: 0 1rem;

		display: flex;
		flex-direction: column;
		justify-content: center;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	a:not(.btn) {
		height: 100%;
		line-height: $nav-height;
	}

	img {
		padding: .325rem;
		width: auto;
	}

	svg {
		width: 3.5em;
		padding: 1rem;
	}

	svg {
		path {
			fill: $color-gray-concrete;
		}
	}
}