.navigation {
	padding: 0 1rem;
	height: $nav-height-mobile;
	background: $color-lightest;
	border-bottom: 1px solid $color-gray-clouds;

	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;

	display: flex;
	justify-content: space-between;

	@media screen and (min-width: $break-sm-min) {
		height: $nav-height;
	}

	ul,
	li,
	img,
	svg {
		height: 100%;
	}

	ul {
		display: flex;
		justify-content: end;

		list-style-type: none;
	}

	li {
		padding: 0 1rem;

		display: flex;
		flex-direction: column;
		justify-content: center;

		@media screen and (max-width: $break-sm) {
			display: none;
		}

		&:first-child {
			padding-left: 0;

			@media screen and (max-width: $break-sm) {
				display: flex;
			}
		}

		&:last-child {
			padding-right: 0;
		}
	}

	a[href='/notifications'] {
		display: flex;

		color: $color-darkest;

		span {
			cursor: pointer;
		}

		&[data-has-notifications] {
			color: $color-highlight-error;

			svg path {
				fill: $color-highlight-error;
			}
		}
	}

	a:not(.btn) {
		height: 100%;
		line-height: $nav-height;
	}

	img {
		padding: .325rem 0;
		width: auto;
	}

	svg {
		width: 3.5em;
		padding: 1rem;
	}

	svg {
		path {
			fill: $color-darkest;
		}
	}
}