.tour-container {
	border: 1px solid $color-gray-clouds;
	background: $color-light;

	&:last-child {
		border: none;
	}

	&:not(:last-child) {
		@media screen and (max-width: $break-md) {
			img {
				display: none;
			}
		}
	}
}

.tour {
	background: none;
	margin-bottom: 0;

	a {
		margin-bottom: .5rem;
	}

	.flex-wrapper {
		@media screen and (min-width: $break-md-min) {
			display: flex;

			section {
				width: 50%;
				margin: 0;
				margin-right: 1rem;
			}
		}
	}

	section {
		padding: 0;
		background: none;
	}

	li {
		padding-bottom: 3rem;
	}
}