.tour-container {
	border: 1px solid $color-gray-clouds;
	background: $color-light;

	&.small {
		border: none;

		.tour {
			max-width: 40em;
		}
	}

	&:not(:last-child) {
		@media screen and (max-width: $break-md) {
			img {
				display: none;
			}
		}
	}
}

.tour {
	max-width: 100%;
	background: none;
	margin-bottom: 0;

	> h2,
	> p {
		max-width: 40em;
	}

	a {
		margin-bottom: .5rem;
	}

	.flex-wrapper {
		@media screen and (min-width: $break-md-min) {
			display: flex;

			section {
				width: 50%;
				margin: 0;
				margin-right: 4rem;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}

	section {
		padding: 0;
		background: none;
	}

	ol {
		padding: 0;
		list-style-type: none;
	}

	li {
		padding-bottom: 3rem;
		counter-increment: item;

		&:before {
			content: counter(item);
			margin-right: 1rem;
			border-radius: 50%;
			margin-right: .5rem;
			width: 1.2em;

			display: inline-block;
			text-align: center;

			background: $color-primary;
			color: $color-lightest;
			font-size: $font-size-xxl;
		}
	}

	h3 {
		display: inline-block;
	}

}