<form class="review-form" method="POST">
	<header>
		<h2>Review artikel</h2>
		<button id="close-review" class="hidden">X</button>
	</header>
	<input type="hidden" name="review-element"/>
	<label>
		Review
		<textarea required data-stretch name="review"></textarea>
	</label>
	<label>
		Type review
		<select name="type" required>
			<option selected disabled>Selecteer een type</option>
			<option value="syntax">Grammaticaal</option>
			<option value="style">Stijl</option>
			<option value="content">Inhoud</option>
		</select>
	</label>
	<input type="submit" value="Ok">
</form>