* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding-top: $nav-height-mobile;
	margin: 0;

	font: 100% sans-serif;
	background: $color-lightest;

	@media screen and (min-width: $break-sm-min) {
		padding-top: $nav-height;
	}
}