<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Writic</title>
		<link rel="icon" type="image/png" href="/img/app-icons/favicon-sm.png">
		<link href="<%= assetFingerprint('/css/style.css') %>" rel="stylesheet">
		<link rel="manifest" href="/manifest.json">
		<script src="<%= assetFingerprint('/js/app.js') %>" type="text/javascript" defer></script>
		<script>
		if ('serviceWorker' in navigator) {
			navigator.serviceWorker.register('/sw.js');
		}

		function showNotification(review) {
			Notification.requestPermission(result => {
				if (result === 'granted') {
					navigator.serviceWorker.ready.then(registration => {
						registration.showNotification('New review', {
							body: 'There is a new review on your article',
							icon: '/img/app-icons/favicon.png',
							vibrate: [200, 100, 200]
						});
					});
				}
			});
		}
		</script>
	</head>

	<body class="no-js">
		<%- include('../patterns/organisms/navigation.ejs', {notifications: notifications, user: user}); %>
		<%- content %>
	</body>
</html>