<!doctype html>
<html lang="nl">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Persgroep</title>
		<link href="<%= assetFingerprint('/css/style.css') %>" rel="stylesheet">
		<script src="<%= assetFingerprint('/js/app.js') %>" type="text/javascript" defer></script>
	</head>

	<body class="no-js">
		<%- content %>
	</body>
</html>