<header class="navigation">
	<nav>
		<ul>
			<li>
				<a href="/">Articles</a>
			</li>
			<li>
				<% if (typeof(user) === 'object') { %>
					<a href="/users/logout">Log uit</a>
				<% } else { %>
					<a href="/users/login">Login</a>
				<% } %>
			</li>
		</ul>
	</nav>
</navigation>