<section class="notifications">
	<h1>Meldingen</h1>
	<ul>
		<% notifications.map(notification => { %>
			<%- include('../molecules/notification.ejs', {notification: notification}); %>
		<% }) %>
	</ul>
	<% if (notifications.length === 0) { %>
		<p>Er zijn geen nieuwe notificaties</p>
	<% } %>
</section>