<section data-open-reviews>
	<h2>Open reviews</h2>
	<div id="open-reviews">
		<% article.reviews.map(review => { %>
			<% if (!review.handled) { %>
				<%- include('../molecules/review', {article: article, review: review, user: user, edit: edit}) %>
			<% } %>
		<% }); %>
	</div>
	<% if (article.reviews.filter(review => !review.handled).length === 0) { %>
		<p>Er zijn momenteel onbehandelde reviews op dit artikel.</p>
	<% } %>
</section>
<section>
	<h2>Gesloten reviews</h2>
	<% article.reviews.map(review => { %>
		<% if (review.handled) { %>
			<%- include('../molecules/review', {article: article, review: review, user: user, edit: edit}) %>
		<% } %>
	<% }); %>
	<% if (article.reviews.filter(review => review.handled).length === 0) { %>
		<p>Er zijn momenteel behandelde reviews op dit artikel.</p>
	<% } %>
</section>