<div class="tour-container">
	<section class="tour">
		<h2>Nieuws creatie platform</h2>
		<p>Welkom bij het nieuws creatie platform van <a href="//www.persgroep.nl" target="_blank">De Persgroep</a>. Hier kun je nieuws lezen, schrijven en reviewen.</p>

		<div class="flex-wrapper">
			<section>
				<h3>Schrijven</h3>
				<picture>
					<source srcset="/img/tour/writing/des-1-xl.webp" type="image/webp" media="(min-width: 1600px)">
					<source srcset="/img/tour/writing/des-1-xl.png" type="image/png" media="(min-width: 1600px)">

					<source srcset="/img/tour/writing/des-1-lg.webp" type="image/webp" media="(min-width: 1280px)">
					<source srcset="/img/tour/writing/des-1-lg.png" type="image/png" media="(min-width: 1280px)">

					<source srcset="/img/tour/writing/des-1-md.webp" type="image/webp" media="(min-width: 992px)">
					<source srcset="/img/tour/writing/des-1-md.png" type="image/png" media="(min-width: 992px)">

					<source srcset="/img/tour/writing/tab-1.webp" type="image/webp" media="(min-width: 740px)">
					<source srcset="/img/tour/writing/tab-1.png" type="image/png" media="(min-width: 740px)">

					<source srcset="/img/tour/writing/tab-1-sm.webp" type="image/webp" media="(min-width: 640px)">
					<source srcset="/img/tour/writing/tab-1-sm.png" type="image/png" media="(min-width: 640px)">

					<source srcset="/img/tour/writing/mob-1.webp" type="image/webp" media="(min-width: 440px)">
					<source srcset="/img/tour/writing/mob-1.png" type="image/png" media="(min-width: 440px)">

					<source srcset="/img/tour/writing/mob-1-sm.webp" type="image/webp">
					<source srcset="/img/tour/writing/mob-1-sm.png" type="image/png">

					<img src="/img/tour/writing/des-1-sm.png" alt="Klik rechtsbovenin de navigatie balk op 'Nieuw artikel'">
				</picture>
				<p>Op dit platform kan iedereen zijn/haar eigen artikel schrijven.</p>
				<p>
					<a href="/articles/new" class="btn">Begin met schrijven</a>
					of
					<a href="/tour/writing" class="btn">lees meer over schrijven</a>
				</p>
			</section>
			<section>
				<h3>Reviewen</h3>
				<picture>
					<source srcset="/img/tour/review/des-1-xl.webp" type="image/webp" media="(min-width: 1600px)">
					<source srcset="/img/tour/review/des-1-xl.png" type="image/png" media="(min-width: 1600px)">

					<source srcset="/img/tour/review/des-1-lg.webp" type="image/webp" media="(min-width: 1280px)">
					<source srcset="/img/tour/review/des-1-lg.png" type="image/png" media="(min-width: 1280px)">

					<source srcset="/img/tour/review/des-1-md.webp" type="image/webp" media="(min-width: 992px)">
					<source srcset="/img/tour/review/des-1-md.png" type="image/png" media="(min-width: 992px)">

					<source srcset="/img/tour/review/tab-1.webp" type="image/webp" media="(min-width: 740px)">
					<source srcset="/img/tour/review/tab-1.png" type="image/png" media="(min-width: 740px)">

					<source srcset="/img/tour/review/tab-1-sm.webp" type="image/webp" media="(min-width: 640px)">
					<source srcset="/img/tour/review/tab-1-sm.png" type="image/png" media="(min-width: 640px)">

					<source srcset="/img/tour/review/mob-1.webp" type="image/webp" media="(min-width: 440px)">
					<source srcset="/img/tour/review/mob-1.png" type="image/png" media="(min-width: 440px)">

					<source srcset="/img/tour/review/mob-1-sm.webp" type="image/webp">
					<source srcset="/img/tour/review/mob-1-sm.png" type="image/png">

					<img src="/img/tour/review/des-1-md.png" alt="Onder elk artikel kun je naar reviewen navigeren.">
				</picture>
				<p>Op dit platform kunnen schrijvers van elkaar leren. Als je tips hebt voor een schrijver om zijn artikel(en) beter te maken, kun je een review schrijven op zijn/haar artikel.</p>
				<a href="/tour/review" class="btn">Lees meer over reviewen</a>
			</section>
		</div>
	</section>
</div>