<% extend("../_base/layout") %>

<main class="review-container">
	<%- include('../patterns/organisms/editor.ejs', {article: article}) %>
	<%- include('../patterns/organisms/reviews', {user: user, article: article, edit: true}) %>
</main>