<% extend("../_base/layout") %>

<% const img = {src: '/img/heros/hero.svg', alt: 'Layout van writic'}; %>
<% const callsToAction = [{url: '/articles/new', title: 'Begin met schrijven'}, {url: '/tour/writing', title: 'Lees hoe het werkt'}]; %>
<% const hero = {img: img, title: 'Writic', subTitle: 'Waar schrijvers van elkaar kunnen leren', callsToAction: callsToAction}; %>

<%- include('../patterns/organisms/hero.ejs', {hero: hero}); %>
<section>
	<% articles.map(article => { %>
		<%- include('../patterns/molecules/article-link.ejs', {article: article}); %>
	<% }); %>
</section>