<% extend("../_base/layout") %>

<section>
	<% articles.map(article => { %>
		<article>
			<a href="articles/single/<%= article._id %>">
				<h2><%= article.title %></h2>
			</a>
		</article>
	<% }); %>
</section>