<% extend("../_base/layout") %>

<a href="/articles/new">Schrijf nieuw artikel</a>
<% articles.map(article => { %>
	<article>
		<a href="articles/<%= article._id %>">
			<h2><%= article.title %></h2>
		</a>
	</article>
<% }); %>