<% extend("../_base/layout") %>

<% if (articles[0]) { %>
	<section>
		<% for (let i = 0; i < 2; i++) { %>
			<% if (articles[i]) { %>
				<%- include('../patterns/molecules/article-link.ejs', {article: articles[i]}); %>
			<% } %>
		<% } %>
	</section>
<% } %>

<%- include('../patterns/organisms/tour-intro.ejs'); %>

<section>
	<% for (let i = 2; i < articles.length; i++) { %>
		<% if (articles[i]) { %>
			<%- include('../patterns/molecules/article-link.ejs', {article: articles[i]}); %>
		<% } %>
	<% } %>
</section>