<% extend('../_base/layout') %>

<% if (user) { %>
	<% if (article.author._id == user._id) { %>
		<main class="review-container">
			<%- include('../patterns/organisms/article', {article: article, footer: true, alignReviews: true}); %>
			<%- include('../patterns/organisms/reviews', {user: user, article: article, edit: false}); %>
		</main>
	<% } else { %>
		<%- include('../patterns/organisms/article', {article: article, footer: true}); %>
	<% } %>
<% } else { %>
	<%- include('../patterns/organisms/article', {article: article, footer: true}); %>
<% } %>