<li>
	<h3>Nieuw artikel</h3>
	<picture>
		<source srcset="/img/tour/writing/des-1-xl.webp" type="image/webp" media="(min-width: 1600px)">
		<source srcset="/img/tour/writing/des-1-xl.png" type="image/png" media="(min-width: 1600px)">

		<source srcset="/img/tour/writing/des-1-lg.webp" type="image/webp" media="(min-width: 1280px)">
		<source srcset="/img/tour/writing/des-1-lg.png" type="image/png" media="(min-width: 1280px)">

		<source srcset="/img/tour/writing/des-1-md.webp" type="image/webp" media="(min-width: 992px)">
		<source srcset="/img/tour/writing/des-1-md.png" type="image/png" media="(min-width: 992px)">

		<source srcset="/img/tour/writing/tab-1.webp" type="image/webp" media="(min-width: 740px)">
		<source srcset="/img/tour/writing/tab-1.png" type="image/png" media="(min-width: 740px)">

		<source srcset="/img/tour/writing/tab-1-sm.webp" type="image/webp" media="(min-width: 640px)">
		<source srcset="/img/tour/writing/tab-1-sm.png" type="image/png" media="(min-width: 640px)">

		<source srcset="/img/tour/writing/mob-1.webp" type="image/webp" media="(min-width: 440px)">
		<source srcset="/img/tour/writing/mob-1.png" type="image/png" media="(min-width: 440px)">

		<source srcset="/img/tour/writing/mob-1-sm.webp" type="image/webp">
		<source srcset="/img/tour/writing/mob-1-sm.png" type="image/png">

		<img src="/img/tour/writing/des-1-sm.png" alt="Klik rechtsbovenin de navigatie balk op 'Nieuw artikel'">
	</picture>
	<p>Klik rechts bovenin de navigatiebalk op 'Nieuw artikel'</p>
</li>