<li>
	<h3>Reviews behandelen</h3>
	<picture>
		<source srcset="/img/tour/writing/des-5-xl.webp" type="image/webp" media="(min-width: 1600px)">
		<source srcset="/img/tour/writing/des-5-xl.png" type="image/png" media="(min-width: 1600px)">

		<source srcset="/img/tour/writing/des-5-lg.webp" type="image/webp" media="(min-width: 1280px)">
		<source srcset="/img/tour/writing/des-5-lg.png" type="image/png" media="(min-width: 1280px)">

		<source srcset="/img/tour/writing/des-5-md.webp" type="image/webp" media="(min-width: 992px)">
		<source srcset="/img/tour/writing/des-5-md.png" type="image/png" media="(min-width: 992px)">

		<source srcset="/img/tour/writing/tab-5.webp" type="image/webp" media="(min-width: 740px)">
		<source srcset="/img/tour/writing/tab-5.png" type="image/png" media="(min-width: 740px)">

		<source srcset="/img/tour/writing/tab-5-sm.webp" type="image/webp" media="(min-width: 640px)">
		<source srcset="/img/tour/writing/tab-5-sm.png" type="image/png" media="(min-width: 640px)">

		<source srcset="/img/tour/writing/mob-5.webp" type="image/webp" media="(min-width: 440px)">
		<source srcset="/img/tour/writing/mob-5.png" type="image/png" media="(min-width: 440px)">

		<source srcset="/img/tour/writing/mob-5-sm.webp" type="image/webp">
		<source srcset="/img/tour/writing/mob-5-sm.png" type="image/png">

		<img src="/img/tour/writing/des--5-md.png" alt="Elke review kun je doorvoeren of sluiten.">
	</picture>
	<p>Elke review kun je doorvoeren of sluiten.</p>
	<p>Door op 'Doorvoeren' te klikken, navigeer je het wijzig scherm voor jouw artikel.</p>
	<p>Door op 'Sluiten' te drukken, geef je aan de feedback niet nuttig te vinden en er niks mee te zullen gaan doen. Mocht je je later bedenken, kun je gesloten reviews altijd weer heropenen.</p>
</li>